<meta name="rapidgator" content="a84b40bbaf6863e72c69248326bd54146ca4ffcc"/>
 
<channels>
 
<channel>
<name>[B][I][COLORred]Christmas Movies[/B][/I][/COLOR]</name>
<thumbnail>http://icons.iconarchive.com/icons/lovuhemant/merry-christmas/256/Santa-icon.png</thumbnail>
<externallink>http://supremacy.org.uk/tombraider/dogsbollocks/xmasmovies.txt</externallink>
<fanart>https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/waving-santa-merry-christmas-background_qkb3guv__F0000.png</fanart>
<info></info>
</channel>


<channel>
<name>[B][COLORwhite]Christmas Music[/B][/COLOR]</name>
<thumbnail>https://cdn.dribbble.com/users/4737/screenshots/836586/music.png</thumbnail>
<externallink>https://github.com/kodiwizard/christmas-addon/raw/master/Xmas%20movies-music/music.xml</externallink>
<fanart>https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/waving-santa-merry-christmas-background_qkb3guv__F0000.png</fanart>
<info></info>
</channel>

</channels>
